.data__container {
    z-index: 100;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}

.div__card {
    display: flex;
    min-width: 20vw;
    min-height: 30vw;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    border: 3px solid #104a4b;
    border-radius: 10px;
    text-align: center;
}

.div__card h2 {
    font-size: 27px;
}

.div__circle-chart {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    height: 10vw;
    font-size: 30px;
    border-radius: 50%;
    background-color: gray;
}

.circle-border {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 11vw;
    height: 11vw;
    background-image:
        linear-gradient(90deg, transparent 50%, #104a4b 50%),
        linear-gradient(90deg, black 50%, #104a4b 50%);
}

.separator__container img {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 120vw;
    z-index: 2;
    animation: water-movement 9s infinite;
}

.content__container {
    justify-content: start;
    align-items: center;
}

.separator__container img:first-of-type {
    position: relative;
    padding-right: 2vw;
    z-index: 7;
    margin-top: 5vw;
    animation-delay: 1.5s;

}

.separator__container img:nth-of-type(2) {
    position: relative;
    padding-right: 2vw;
    z-index: 7;
    margin-top: 10vw;
    animation-delay: 3s;
}


.separator__container {
    position: relative;
    overflow: hidden;
    display: grid;
    animation: none;
    margin: 0;
    padding: 0;
    padding: 0;
}

.socialmedia__container {
    z-index: 100;
}

#boat {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 3;
    width: 22vw;
    height: 12vw;
    margin: 7vw 0 0 40vw;
    padding: 0;
}

@keyframes water-movement {
    25% {
        transform: translateX(-3vw);
    }

    50% {
        transform: translateX(0vw) translateY(1.5vw);
    }

    75% {
        transform: translateX(3vw);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@media only screen and (max-width: 700px) {

    #boat {
        margin: 14vw 0 0 40vw;
    }

}



@media only screen and (max-width: 1024px) {


    .div__card h2 {
        font-size: 2vw;
    }

    .data__container {
        grid-template-columns: 1fr 1fr;
    }

    .data__container div:last-child {
        grid-row-start: 2;
    }

}


@media only screen and (max-width: 700px) {


    .div__card h2 {
        font-size: 2vw;
    }

    .data__container {
        grid-template-columns: 1fr;
    }

    .data__container>div {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .data__container div:last-child {
        grid-row-start: 3;
    }
}