.form__container {
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

form {
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: #778899;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    padding: 25px;
    box-shadow: 7px 10px 1px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.form__container div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2%;
    background: #104a4b
}

.form__container h1 {
    font-size: 30px;
    letter-spacing: 1px;
    margin: 0;
    padding-left: 10px;
}

form input,
form button {
    outline: 0;
    font-size: 30px;
    color: black;
    padding: 10px;
    margin: 15px;
    border: solid gray 0.1em;
}

form button {
    background-color: #104a4b;
    color: white;
    width: 80%;
    text-align: center;
    margin-top: 25px;
    border-radius: 15px;
}

form span {
    font-size: 15px;
    color: #FF0000;
}

@media only screen and (max-width: 1024px) {

    form input,
    form button {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .form__container {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 480px) {

    .form__container h1 {
        font-size: 20px;
    }

    form input,
    form button {
        font-size: 15px;
        margin: 5px;
    }

    form span {
        font-size: 12px;
    }

    .form__container {
        margin-top: 50px;
    }

    form {
        padding: 5px;
    }
}



.separator__container img {
    grid-row-start: 1;
    grid-column-start: 1;
    width: 110vw;
    z-index: 2;
    animation: water-movement 9s infinite;
}

.content__container {
    justify-content: start;
    align-items: center;
}

.separator__container img:first-of-type {
    position: relative;
    padding-right: 2vw;
    z-index: 7;
    margin-top: 5vw;
    animation-delay: 1.5s;

}

.separator__container img:nth-of-type(2) {
    position: relative;
    padding-right: 2vw;
    z-index: 7;
    margin-top: 10vw;
    animation-delay: 3s;
}


.separator__container {
    position: relative;
    overflow: hidden;
    display: grid;
    animation: none;
    margin: 0;
    padding: 0;
    padding: 0;
}

.socialmedia__container {
    z-index: 100;
}

#boat {
    grid-row-start: 1;
    grid-column-start: 1;
    z-index: 3;
    width: 22vw;
    height: 12vw;
    margin: 7vw 0 0 40vw;
    padding: 0;
}

@keyframes water-movement {
    25% {
        transform: translateX(-3vw);
    }

    50% {
        transform: translateX(0vw) translateY(1.5vw);
    }

    75% {
        transform: translateX(3vw);
    }

    100% {
        transform: translateX(0px) translateY(0px);
    }
}

@media only screen and (max-width: 700px) {

    #boat {
        margin: 14vw 0 0 40vw;
    }

}


@media only screen and (max-width: 240px) {

    .form__container h1 {
        font-size: 10px;
    }

    form input,
    form button {
        font-size: 5px;
        margin: 5px;
    }

    .form__container {
        margin-top: 25px;
    }

    form {
        padding: 3px;
    }
}