
.quizz__container {
    padding: 10%;
    display: grid;
    width: 80%;
    position: relative;
    grid-template-areas:
        "question  question"
        "responseAA responseBB"
        "responseCC responseDD";
}

.quizz-style {
    text-align: center;
    background-image: radial-gradient(rgb(19, 129, 255), black);
    border-radius: 1em;
    padding: 0 1em;
    border: solid gray 0.1em;
    margin: 0.5em;
}

.question__container {
    grid-area: question;
    font-size: 2em;
}

.response {
    font-size: 1.5em;
}

.responseA {
    grid-area: responseAA;
    transition: transform ease-in 1s;
}

.responseB {
    grid-area: responseBB;
    transition: transform ease-in 1s;
}

.responseC {
    grid-area: responseCC;
    transition: transform ease-in 1s;
}

.responseD {
    grid-area: responseDD;
    transition: transform ease-in 1s;
}