.quizz__container {
    font-size: 2em;
    padding: 10%;
    display: grid;
    height: 100%;
    width: 80%;
    position: relative;
    grid-template-areas:
        "question  question"
        "responseAA responseBB"
        "responseCC responseDD";
}

.quizz-style {
    text-align: center;
    background-image: radial-gradient(rgb(19, 129, 255), black);
    border-radius: 1em;
    padding: 0 1em;
    border: solid gray 0.1em;
    margin: 0.5em;
}

.question__container {
    grid-area: question;
}

.responseA {
    grid-area: responseAA;
    transition: transform ease-in 1s;
}

.responseB {
    grid-area: responseBB;
    transition: transform ease-in 1s;
}

.responseC {
    grid-area: responseCC;
    transition: transform ease-in 1s;
}

.responseD {
    grid-area: responseDD;
    transition: transform ease-in 1s;
}

@media only screen and (max-width: 1024px) {
    .quizz__container {
        font-size: 1.5em;
        grid-template-areas:
            "question"
            "responseAA"
            "responseBB"
            "responseCC"
            "responseDD";
    }

    .question__container {
        font-size: 1.5em;
    }

}

@media only screen and (max-width: 480px) {
    .quizz__container {
        font-size: 1em;
    }

    .question__container {
        font-size: 1.5em;
    }


}