.slideshow__container {
    position: relative;
    display: block;
}

.panel__container {
    width: 100%;
    opacity: 0;
    position: absolute;
    height: 300px;
    display: block;
    transition: opacity 5s ease-in;
    margin: 0;
    padding: 0;
    border: 0;
}

.panel__one {
    background-image: url("https://picsum.photos/1920/300/?random");
}

.panel__two {
    background-image: url("https://picsum.photos/1920/400/?random");

}

.panel__three {
    background-image: url("https://picsum.photos/1920/500/?random");
}

.panel__container h1,
h3 {
    text-align: center;
    padding-top: 50px;
    margin: auto;
    font-size: 3em;
    color: white;
}
