html,
body {
    color: #d1e6bb;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


header {
    display: block;
    overflow: hidden;
    font-size: 1.2vw;
    letter-spacing: 1.5px;
    font-weight: 500;
    background-color: #104a4b;
}

.header__content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
    width: 80%;
    align-items: center;
    margin: 1vw auto 1vw auto;
}

.header__content a:active {
    color: white;
    text-shadow: 1px 2px 1px black;
}

a {
    font-family: Georgia, Cochin, Cambria, Times, Times New Roman, serif;
    color: white;
    text-decoration: none;
}

.logo {
    float: left;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-bottom: 2px;
}

.header__title {
    display: flex;
    align-items: center;
}

.header__main-bar {
    display: block;
}

.header__main-bar ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    float: right;
    display: flex;
    flex-direction: row;
    transition: max-height 0.3s ease-in-out;
}

.header__main-bar ul li {
    white-space: nowrap;
    box-sizing: border-box;
    margin-right: 2em;
}

.header__main-bar hr {
    border-color: #d1e6bb;
    margin: auto;
    transform: scale(0);
    transition: all 0.2s ease-in;
}

.header__main-bar a:hover~hr {
    transform: scale(1)
}

.header__bar-selection {
    background: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    outline: none;
    display: none;
}

.content__container {
    color: white;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    align-items: center;
    background: linear-gradient(to bottom, #06050d 0%, #272151 25%, #264e6d 100%);
}

.cards__container {
    width: 80%;
    display: flex;
    margin-top: 4vw;
    flex-direction: row;
    justify-content: space-around;
}

.card__item a {
    transition: transform 0.2s ease-in;
    display: block;
}

.card__item img {
    width: 10vw;
    height: 10vw;
    text-align: center;
}

.card__item a:hover {
    transform: scale(1.4);
}

.info__container {
    display: block;
    width: 80%;
}

.info__container h2 {
    border-bottom: 1px white solid;
    font-size: 2.5em;
}

.info__container p {
    font-size: 1.5em;
}

.separator__container {
    animation: move 30s linear infinite;
}

.socialmedia__container {
    font-size: 3em;
    margin-bottom: 10px;
}

footer {
    padding-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.25), transparent);
}

footer * {
    margin: 0;
    padding: 0;
}

form button {
    display: block;
    margin-top: 16px;
}

@media only screen and (max-width: 700px) {

    .header__content {
        grid-template-columns: 10% 80% 10%;
        margin: auto;
        grid-template-rows: auto auto;
    }

    .header__bar-selection {
        position: relative;
        right: 4vw;
        padding: 0;
        margin: auto auto auto 0;
        display: inline-block;
        text-align: right;
    }

    header {
        font-size: 4vw;
    }

    .header__content {
        width: 100%;
    }

    .header__main-bar {
        grid-row: 2;
        grid-column: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;

    }

    .separator__container img {
        width: 90vw;
        height: 30vw;
    }

    .header__main-bar ul {
        margin-top: auto;
        margin-bottom: auto;
        font-size: inherit;
        max-height: 0;
        display: block;
    }

    .header__main-bar hr {
        display: block;
    }

    .header__main-bar ul li {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }

    .card__item img {
        width: 15vw;
        height: 15vw;
        text-align: center;
    }

    .logo {
        margin: auto;
        width: 6vw;
        height: 6vw;
    }

    .slideshow__container {
        display: none;
    }

    .content__container {
        margin-top: 0;
    }
}


@media only screen and (max-width: 300px) {
    .logo {
        display: none;
    }

    .header__content {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header__title {
        margin-bottom: 2%;
    }

    .header__content button {
        margin-top: 2%;
    }
}


@keyframes move {
    25% {
        transform: translateX(-8vw) translateY(-10px) scale(1);
    }

    50% {
        transform: translateX(0px) translateY(0px) scale(0.9);
    }

    75% {
        transform: translateX(8vw) translateY(10px) scale(1);
    }

    100% {
        transform: translateX(0px) translateY(0px) scale(1);
    }
}