body {
    color: #d1e6bb;
    scroll-behavior: smooth;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

header {
    display: block;
    overflow: hidden;
    font-size: 1.2vw;
    letter-spacing: 1.5px;
    font-weight: 500;
    background-color: #104a4b;
}

.header__content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto auto;
    width: 80%;
    align-items: center;
    margin: 1vw auto 1vw auto;
}

.header__content a:active {
    color: white;
    text-shadow: 1px 2px 1px black;
}

a {
    font-family: Georgia, Cochin, Cambria, Times, 'Times New Roman', serif;
    color: #d1e6bb;
    text-decoration: none;
}

.content__container h1 {
    width: 20%;
    margin: 5vw auto 5vw auto;
}

.logo {
    float: left;
    padding: 10px;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 2px;
}

.header__title {
    display: flex;
    align-items: center;
}

.header__main-bar {
    display: block;
}

.header__main-bar ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
    float: right;
    display: flex;
    flex-direction: row;
    transition: max-height 0.3s ease-in-out;
}

.header__main-bar ul li {
    box-sizing: border-box;
    margin-right: 2em;
}

.header__main-bar hr {
    border-color: #d1e6bb;
    display: none;
    transform: scale(0);
    transition: all 0.3s ease-in;
}

.header__bar-selection button {
    background: transparent;
    border: none;
    font-size: inherit;
    color: inherit;
    outline: none;
    display: none;
}

.content__container {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    justify-content: flex-start;
    background: linear-gradient(to bottom, #06050d 0%, #1a1636 51%, #264e6d 100%);
}

.video__container {
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto auto 10vw auto;
    display: flex;
    flex-direction: row;
}

.video__container>p {
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    word-wrap: break-word;
    margin: 10px;
    width: 80%;
}

@media only screen and (max-width: 700px) {
    .content__container object {
        width: 100px;
        height: 100px;
    }

    .header__bar-selection button {
        width: 80%;
        display: inline-block;
        grid-row: 1;
        grid-column: 3;
        text-align: right;
    }

    header {
        font-size: 4vw;
    }

    .header__content {
        width: 100%;
    }

    .header__title {
        margin-left: 0.2em;
    }

    .header__main-bar {
        grid-row: 2;
        grid-column: 1;
        grid-column-start: 2;
        grid-column-end: 4;
        display: flex;
        flex-direction: column;

    }

    .header__main-bar ul {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 3vw;
        max-height: 0;
        display: block;
    }

    .header__main-bar hr {
        display: block;
    }

    .header__main-bar ul li {
        display: block;
        margin-bottom: 1em;
    }

    .content__container h1 {
        width: 50%;
        font-size: 95%;
    }

    .video__container>p {
        font-size: 1.5vw;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .slideshow__container {
        display: none;
    }
}